foorter
    div(id="footer-content")
        ul(class="footer-column")
            li(class="footer-column-header") Header 1
            li link#1
            li link#2
            li link#3
        ul(class="footer-column")
            li(class="footer-column-header") Header 2
            li link#1
            li link#2
            li link#3
        ul(class="footer-column")
            li(class="footer-column-header") Header 3
            li link#1
            li link#2
            li link#3
        ul(class="footer-column")
            li(class="footer-column-header") Socials
            li(class="github-social" onclick="window.open('https://github.com/tckelly6397', '_blank')")
                img(src="/images/github-mark.png")
            li(class="linkedin-social")
            li(class="github-social")