extends layout

block content
  div(id="main-container")
    div(id="initial-input")
      div(id="input-top-text") Input a url to shorten it
      div(id="input-container")
        div(id="main-form") 
          input(id="main-input" type="url" placeholder="url" name="link")
          button(id="submit-btn" type="submit" onclick="postLink();") shorten
    div(id="main-view-url")
      div(id="key-text" class="detailed-big-text" onclick="copyText(this);")
