nav 
    div(id="nav-content")
        h3 Link Shortener
        div(id="profile-section" class="flex")
            div(id="login")
                a Login
            div(id="signup")
                a Sign up